:root {
    --main: #7E02B4;
    --main-light: #7E02B4;
}

.container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {
    text-align: center;
    font-size: 1.8rem;
    color: var(--main);
    font-weight: bold;
}

.activity {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activity div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

h1:not(.head) {
    color: var(--main-light);
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: white;
}

p {
    text-align: justify;
}

.activity img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.inner {
    width: 70%;
    background-color: var(--main-light);
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btns button {
    padding: 4px 6px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}